.listTable {
    table-layout: fixed;
}

.links {
    display: flex;
}

.links > div{
    flex: 1;
}

.filterContainer {
    display: flex;
}

.searchFilter {
    width: 100%;
}

.filterItem {
    flex: 1;
}

.genresCheckboxes {
    display: none;
    position: absolute;
    background: lightgray;
}

.genresCheckboxes:hover {
    display:block;
}

.genresCheckboxes:hover + .genresLabel {
    background: lightgray;
}

.checkbox {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    display: block;
}

.checkbox:hover {
    background: #bcbcbc;
}

.filterButton {
    width: 10%;
}

.searchContainer {
    padding-right: 20px;
}

.genresContainer {
    padding-right: 20px;
}

.genresContainer:hover > .genresLabel {
    background: lightgray;
}

.genresLabel{
    padding: 0 15px 0 15px;
    border: 1px solid;
    height: 30px;
    border-radius: 3px;
}

.genresLabel:hover {
    background: lightgray;
}

.genresLabel:hover + .genresCheckboxes {
    display: block;
}