@model IEnumerable<RandomGameSelector.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<form asp-controller="Genres" asp-action="Index">
    <p>
        Genre: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:end">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Genre</a>
</p>
