@model RandomGameSelector.Models.ListPage

@{
    ViewData["Title"] = "Random Game Selector";
}

<link rel="stylesheet" href="~/css/listPage.css" asp-append-version="true" />

<h1>Games</h1>


<table class="table listTable">
    <thead>
        <tr>
            <th>
                Games<!--Html.DisplayNameFor(model => model.Games.Name)-->
            </th>
            <th>
                Genres
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<Model.Games.Count(); i++) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Games[i].Name)
            </td>
            <td>
                @Model.GameGenres[i]
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Games[i].Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Games[i].Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p class="links">
    <a style="flex: 1" asp-action="Create">Add another game</a>
    <a asp-action="SelectRandomGame">Select Random Game to Play</a>
    <a asp-action="CreateGenre">Add genres</a>
</p>
